body{
    width: 100%;
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
}
#header{
    position: absolute;
    display: block;
    width: 100%;
}
.title{  
    position: relative; 
    width: 100%;
    z-index: 2; 
    transform: translate(0px, 20px);
    margin-left: auto;
    margin-right: auto;
}
.title h1{  
    position: relative;
    text-align: left;
    padding-left: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 48px;
    color: rgb(255, 94, 0);
    background-color:rgba(226, 226, 226, 0.6);
     
}
#aside{
    position:absolute ;
    display: block;
    text-align: center;
    width: 100%;   
    z-index: 3;
}

nav a{
    padding: 0px 20px; 
    text-decoration: none;
    color: rgb(255, 72, 0);
    font-family:'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
a:hover{
    color: rgb(255, 64, 30);
    filter: drop-shadow(2px 2px 2px rgb(129, 129, 129) ); 
}
nav a img{
    position: relative;
    display:inline-table;
    transform: translate(0, 10px);
    padding: 5px;
    width: 25px;
    height: 25px;
}
.conteiner{
    position: relative;
    display: block;
    width: 80%;
    background-color: rgb(218, 218, 218);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px -5px 10px 6px rgb(165, 165, 165);
}

.imgtitle{
    position: relative;
    z-index: 1;
    padding-top: 52px;   
}
img{
    position: relative;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
}
.btn1{
    position:relative;
    display:block;
    width: 200px;
    height: 40px;
    background-color:rgb(255, 94, 0) ;
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 2px 1px rgb(165, 165, 165) ;
    margin-right: 30px;
    margin-left: auto;
    padding-bottom: 5px;
    transform: translate(0,-70px);
    z-index: 3;
}
.btn1:hover{
    background-color: rgb(255, 64, 30);
    filter: drop-shadow(2px 2px 2px rgb(165, 165, 165) );
}
#article_01{
    position: relative;
    display: block;
    width: 50%;
    background: linear-gradient(rgba(201, 201, 201, 0.8), rgb(218, 218, 218) ) ;
    margin:0px 40px;
    transform: translate(0px, -150px);
    z-index: 3; 
    
}
.block_01 h3{ 
    padding: 15px 15px;
    color:rgb(255, 94, 0) ;
    font-family:'Comfortaa', cursive ;
    font-size: 32px;
}
p{
    padding: 10px;
    font-family:'Ubuntu', sans-serif ;
    color:rgb(65, 65, 65) ;
    transform: translate(0px, -20px);
}
p img{
    position: relative;
    display:inline-table;
    transform: translate(0, 10px);
    padding: 5px;
    width: 40px;
    height: 40px;
}
#article_02{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    transform: translate(0px, -250px);
    z-index: 3; 
}
.block_02 h3{
    text-align: right;
    justify-content: right;
    color:rgb(255, 94, 0) ;
    font-family:'Comfortaa', cursive ;
    margin: 0px 80px;
    font-size: 32px;
}
.block_02img img{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100px;
    height: px;
    margin-left: auto;
    margin-right: 200px;
   
}
.card{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background: linear-gradient(rgba(201, 201, 201, 0.8),  rgb(218, 218, 218))  ;
}
.card1{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
   .card1img{
    display:block;
    width: 200px;
    height: 200px;
   }
       .card1img a img{
           border-radius: 50%;
       }

   .card1name{
    display:block;  
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 40px;
    background-color:rgb(255, 94, 0) ;
    color: aliceblue ;
    border-radius: 25px;
   }
       .card1name:hover{
            background-color: rgb(255, 64, 30);
            filter: drop-shadow(2px 2px 2px rgb(165, 165, 165) );
       }  
       .card1name a{
          display: block;
          text-decoration: none;
          color: aliceblue;
          font-family:'Comfortaa', cursive  ;
          margin-top: 5px;
       }
       
.card2{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
    .card2img{
        display:block;
        width: 200px;
        height: 200px;
        
    }
        .card2img a img{
            border-radius: 50%;
        }
    
       .card2name{
        display:block;  
        margin-left: auto;
        margin-right: auto;   
        width: 180px;
        height: 40px;
        background-color:rgb(255, 94, 0) ;
        color: aliceblue ;
        border-radius: 25px;
       }
           .card2name:hover{
                background-color: rgb(255, 64, 30);
                filter: drop-shadow(2px 2px 2px rgb(165, 165, 165) );
           }  
           .card2name a{
              display: block;
              text-decoration: none;
              color: aliceblue;
              font-family:'Comfortaa', cursive  ;
              margin-top: 5px;
           }
.card3{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
    .card3img{
        display:block;
        width: 200px;
        height: 200px;
    }
        .card3img a img{
            border-radius: 50%;
        }
        
        .card3name{
            display:block;  
            margin-left: auto;
            margin-right: auto;
            width: 180px;
            height: 40px;
            background-color:rgb(255, 94, 0) ;
            color: aliceblue ;
            border-radius: 25px;
        }
            .card3name:hover{
                background-color: rgb(255, 64, 30);
                filter: drop-shadow(2px 2px 2px rgb(165, 165, 165) );
            }  
               .card3name a{
                  display: block;
                  text-decoration: none;
                  color: aliceblue;
                  font-family:'Comfortaa', cursive  ;
                  margin-top: 5px;
               }

#article_03{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    transform: translate(0px, -200px);
}
.block_03 h3{ 
    padding: 15px 15px;
    color:rgb(255, 94, 0) ;
    font-family:'Comfortaa', cursive ;
    font-size: 32px;
    margin-left:auto;
    margin-right: auto;
    width: 75%;

}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(rgba(201, 201, 201, 0.8), rgb(218, 218, 218) ) ;
    color:rgb(255, 94, 0) ;
}
.formblock input,
.formblock textarea{
    
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    background: transparent ;
    outline: none;
    font-size: 16px;
    font-family:'Ubuntu', sans-serif;
}
.formblock input::placeholder{
    color: rgb(255, 94, 0);
}
.formblock textarea::placeholder{
    color: rgb(255, 94, 0);
}
#text,
#tel,
#Email,
#message{
    color: rgb(255, 94, 0);
}
.btn2{
    position:relative;
    display:block;
    width: 200px;
    height: 40px;
    background-color:rgb(255, 94, 0) ;
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 2px 1px rgb(165, 165, 165) ;
    margin-right: 30px;
    margin-left: auto;
    margin-bottom: 5px;
    padding-bottom: 5px;
    z-index: 3;
}
.btn2:hover{
    background-color: rgb(255, 64, 30);
    filter: drop-shadow(2px 2px 2px rgb(165, 165, 165) );
}
#footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:start;
    width: 100%;
    height: 300px;
    background:linear-gradient(rgba(201, 201, 201, 0.8), rgb(218, 218, 218) ) ;
    transform: translate(0px, -150px);
}
.block_04 h3{ 
    padding: 15px 15px;
    color:rgb(255, 94, 0) ;
    font-family:'Comfortaa', cursive ;
    font-size: 32px;
    margin-left:auto;
    margin-right: auto;
    width: 75%;
}
.contact{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}
.contact img{
    width: 50px;
    height: 50px;
}
.contact a{
    text-align: center;
    text-decoration: none;
    color:rgb(65, 65, 65) ;
}
